
<app-bread-crumb 
        [items]="[{text: 'Clientes', link: '/clientes'},
                {text: pageTitle}]">
</app-bread-crumb>

<app-page-header
    [page-title]= "pageTitle"
    button-text = "<< Voltar"
    button-link = "/clientes"
    button-class = "btn-light"
></app-page-header>

<form  class = "form" [formGroup]="resourceForm"(submit)="submitForm()" autocomplete="off" spellcheck="false">
    <app-server-error-message [server-error-messages] = "serverErrorMessages"></app-server-error-message>
    <div class="card">
        <div class="card-header sub-header-white">
            <h1 class = "h5">Informações do cliente:</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field>
                        <input [imask]="imaskConfig" matInput placeholder="Limite de crédito:" [formControl]="resourceForm.get('limiteCompra')">
                        <span matPrefix>R$&nbsp;</span>
                        <mat-error >{{getErrorMessage(resourceForm.get('limiteCompra'))}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-8">
                    <mat-form-field>
                        <input matInput placeholder="Observações: " [formControl]="resourceForm.get('descricao')">
                        <mat-error >{{getErrorMessage(resourceForm.get('descricao'))}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <app-pessoa-form >

        </app-pessoa-form>
    </div>
    
    

    <div style="width: fit-content;margin: 0 auto">
            <button [disabled] ="submittingForm || !isValidForm()" type="submit"  class = "btn btn-primary btn-lg mt-2 " >Salvar</button>
    </div>
</form>
