<div *ngIf="concluido">

  <mat-tree class = "arvore menu-background-color nav"  [dataSource]="dataSource" [treeControl]="treeControl" style = "height: 100%">
   
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node class = "no no-naoexpandivel" (click)="navigateTo(node.name)"  [class.active] = "canActiveClass(node.name)" *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="12px">
     
      <button mat-icon-button disabled style = "max-width: 20px"></button>
      <div class="nav-item">
        <a   class="nav-link"  >    {{node.name}} </a>
        </div>

    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes  -->
    <mat-tree-node matTreeNodeToggle
    [attr.aria-label]="'toggle ' + node.name" class = "no no-expandivel" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="12px">
      <button mat-icon-button >
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <div class="nav-item"><a class="nav-link">{{node.name}}</a></div>
      
   
    </mat-tree-node>
  </mat-tree>
  
</div>
