.arvore{
    border: 1px solid #323232;
}
.no{
    background-color:white !important;
   min-height: 20px!important;
    max-height: 32px!important;
}
.no:hover{
    background-color: #f1f1f1!important;
    color:#020202;
}
.no-expandivel{
    color: #323232;
    font-weight: 700!important;

}

.no-naoexpandivel{
    color: #525252;
    font-weight: 500!important;
   
    
}
