.arvore{
    border-bottom: 1px solid #575787;
    border-top: 1px solid #575787;
}
.no{
    color: rgb(0, 55, 161) ;
    min-height: 20px!important;
    max-height: 38px!important;
}
.no:hover{
    background: #007bff4f;
    color: rgb(0, 25, 130) ;
    cursor: pointer;
    font-weight: 700!important;
}
.no-expandivel{
    
    font-weight: 600!important;
  
}
.active{

    color: #007bff!important;
   
}
.active a{
    font-weight: 900!important;
}
.active:hover{
    
    font-weight: 900!important;

}

.no-naoexpandivel{
   
    font-weight: 400!important;

}


