.cardcontainer{

}
.card{
    
    max-width: 500px;
    min-width: 400px;
    width: 30%;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(105,105,105,1);
    border-radius: 5px;

    position:absolute;
    top:50%;
    left:50%;
    margin-left: -215px;
    margin-top: -215px;
   
    background: rgba(255,255,255,0.9);
}

.card::before{
    
}

.label-text{
    font-size: 16px;
    font-weight:  bold;
    color: rgb(62, 62, 62);
    padding-right: 0 !important;
}


.card-header{
    opacity: 80%;
   
}

.card-header h3{
    margin-top: 3px !important;
    margin-bottom: 5px !important;
}

.input{
    width: 100%;
    margin: 4px;
    padding: 0px !important;
}


.input-user{
    margin-top: 14px !important;
    margin-bottom: 12px !important;
}

.row{
    max-width: 80%;
    margin: 0 auto;
}


.btn-div{
    max-width: 50%;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 6px;

}
.links-rodape-login{
    margin-bottom: 18px;
}

.background_center{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    
    width: 68%;
    max-width:  68%;
    margin: auto;
    height: 100%;
    background: url(../../../../assets/background.jpg) #000 no-repeat center;
    background-size: cover;
}

mat-form-field{
    width: 100%;
}
    .background_full::before {
        content: "";
        position: absolute;
        
        width: 100%; height: 100%;
        background-image: url(../../../../assets/background_blur.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
