
<div class="background_full">
    <div class="background_center">
      <div class="component">
        <form [formGroup]="resourceForm"(submit)="login()" >
            <div class="cardcontainer">
                <div class="card ">
                    <div class="card-header text-center blue-header-gradient">
                        <h3>FEASY WEB - LOGIN</h3>
                    </div>
            
                    <div class="card-body">
                        <div class="form-group row">
                            <div class=" input input-user">
                                <mat-form-field>
                                    <input matInput placeholder="Usuario" [formControl]="resourceForm.get('login')">
                                    <mat-error >{{getErrorMessage(resourceForm.get('login'))}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
        
                        <div class="form-group row">
                            <div class="input input-password">
                                <mat-form-field>
                                    <input matInput placeholder="Senha" [formControl]="resourceForm.get('password')">
                                    <mat-error >{{getErrorMessage(resourceForm.get('password'))}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <app-server-error-message [server-error-messages] = "serverErrorMessages"></app-server-error-message>
                        <div class="btn-div">
                                <button button [disabled] ="submittingForm || resourceForm.invalid" type="submit" class="btn btn-success btn-lg btn-block  ">Entrar</button>
                            </div>
                    </div>
                    <div class="text-center links-rodape-login">
                        <a href="#">Esqueceu sua senha?</a> <br>
                        É novo por aqui? <a href="#">Crie sua conta</a>
                    </div>
                   
                    
                </div>
              
        
            </div>
        </form>
      </div>
    </div>
  </div>
    




