
<app-bread-crumb 
[items]="[{text: 'Categorias'}]">
</app-bread-crumb>
<app-page-header
page-title= "Categorias"
button-text = "+ Nova Categoria"
button-link = "new"
button-class = "btn-success"
></app-page-header>


<table class="table table-hover table-striped ">
<thead>
   <tr class ="bg-primary text-light">
       <th class = "coluna" scope = "col">Nome</th>
       <th class = "coluna" scope = "col" class = "text-center">Ações</th>
   </tr>
</thead>
<tbody>
   <tr  scope = "row" *ngFor="let categoria of resources">
       <td class = "coluna">
           {{categoria.nome}}
       </td>
       <td class = "coluna " >
           <div style="display: block; width: 126px; margin: 0 auto">
               <a   [routerLink]="[categoria.id, 'edit']"class="btn btn-info btn-sm mr-2">Editar</a>
               <button  (click)="deleteResource(categoria)"class="btn btn-danger btn-sm">Excluir</button>
           </div>
       </td>
   </tr>
</tbody>
</table>