.btn-excluir{
    width: 24px;
    height: 24px;
    padding: 0px !important;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
}
.btn-excluir-icon{
    width: 18px;
    height: 18px;
    margin: 0 auto;
    background: url("../../../../assets/icons/delete-outline-24-white.png");
    background-size: cover;
}
