<div class="card-header sub-header-white">
    <div class="row">
        <div class="col-md">
                <h1 class="h6" style=" margin-bottom: 0px; position: absolute; bottom: 0px;"> {{titulo}} </h1> 
        </div>
        <div class="col-md-3 text-right">
            <button type="button" [disabled]= "!enable"(click) ="click()" class="btn btn-success btn-adiciona-complementar ">
                {{botaoTexto}}
            </button>
        </div>
    </div> <!--fim da linha do sub titulo-->
</div>