.container{
    max-width: 1440px;
  
}

.menu{
    padding: 0px !important;
    margin-top: 12px;
}
.header{
    padding: 0 !important;
}



.conteudo{
    padding-top: 72px;
    background-color: #fff !important;
}


.background::before {
    content: "";
    position: absolute;
    top: -20px; left: -20px;
    width: 110%; height: 110%;
    background-image: url(../../../../assets/background.jpg);
    filter: blur(15px);
    background-repeat: no-repeat;
    background-size: cover;
}
.placeholder-container{
    background: #fdfdfe;
    padding-top:16px;
    max-height: 1012px;
}

.menu{
    max-width: 256px;
    max-height: 100%;
    padding: 0px !important;
    background: rgba(12,60,232,1);
}
.row{

}
