.base-container{

    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.placeholder-container{
    margin-top:16px;
}

.menu{
    max-width: 256px;
    height: 100%;
    padding: 0px !important;
}
.row{
    height: 100%;
}
