
<mat-form-field class="example-full-width">
    <input matInput placeholder="Selecione um cargo" [matAutocomplete]="auto" [formControl]='this.formControlNome'>
    <mat-error >{{getErrorMessage()}}</mat-error>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" (optionSelected)='select($event)'>
<mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="35"></mat-spinner></mat-option>
<ng-container *ngIf="!isLoading">
    <mat-option  *ngFor="let cargo of filteredCargo " [value]="cargo.nomeCargo">
    <span>{{ cargo.nomeCargo }}</span>
    </mat-option>
</ng-container>
</mat-autocomplete>
 