<div class="row">
    <div class="col-5 col-naturalidade-uf">
        <app-uf-selector [ufFormControl]="ufFormControl"></app-uf-selector>
    </div>
    <div class="col-7 col-naturalidade-cidade">
        <mat-form-field  >
                <input type="text" placeholder="Cidade" aria-label="NumberC" matInput [formControl]="cidadeFormControl" [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete">
                    <mat-option *ngFor="let cit of cidadesFiltradas | async" [value]="cit">
                        {{cit}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error >{{getErrorMessage()}}</mat-error>
            </mat-form-field>
    </div>
</div>
